<%= content_for :page_title, t(".page_title") %>

<%= settings_section title: t(".subscription_title"), subtitle: t(".subscription_subtitle") do %>
  <div class="space-y-4">
    <div class="p-4 bg-container-inset rounded-lg flex justify-between items-center">
      <div class="flex items-center gap-3">
        <%= render DS::FilledIcon.new(
          icon: "gem",
          rounded: true,
          size: "lg"
        ) %>

        <div class="text-sm space-y-1">
          <% if @family.has_active_subscription? %>
            <p class="text-primary">
              <span><%= t(".currently_on_plan") %> <span class="font-medium"><%= @family.subscription.name %></span>.</span> <br>

              <% if @family.next_payment_date %>
                <% if @family.subscription_pending_cancellation? %>
                  <span><%= t("views.settings.payments.cancellation", date: l(@family.next_payment_date, format: :long)) %></span>
                <% else %>
                  <span><%= t("views.settings.payments.renewal", date: l(@family.next_payment_date, format: :long)) %></span>
                <% end %>
              <% end %>
            </p>
          <% elsif @family.trialing? %>
            <p class="text-primary">
              <%= t(".trialing", product_name: product_name) %> <br>
              <span class="text-secondary">
                (<%= t(".trial_days_left", count: @family.days_left_in_trial) %>)
              </span>
            </p>
          <% else %>
            <p class="text-primary"><%= t(".not_contributing_prefix") %> <span class="font-medium"><%= t(".not_contributing_emphasis") %></span></p>
            <p class="text-secondary"><%= t(".contributions_note", product_name: product_name) %></p>
          <% end %>
        </div>
      </div>

      <% if @family.has_active_subscription? %>
        <%= render DS::Link.new(
          text: t(".manage"),
          icon: "external-link",
          variant: "primary",
          icon_position: "right",
          href: subscription_path,
          rel: "noopener"
        ) %>
      <% else %>
        <%= render DS::Link.new(
          text: t(".choose_level"),
          variant: "primary",
          icon: "plus",
          icon_position: "right",
          href: upgrade_subscription_path(view: "upgrade"),
          rel: "noopener") %>
      <% end %>
    </div>

    <div class="flex items-center gap-2">
      <%= image_tag "stripe-logo.svg", class: "w-5 h-5 shrink-0" %>
      <p class="text-secondary text-sm"><%= t(".payment_via_stripe") %></p>
    </div>
  </div>
<% end %>
