<%= content_for :previous_path, goals_onboarding_path %>

<%= content_for :header_nav do %>
  <%= render "onboardings/onboarding_nav", user: @user %>
<% end %>

<%= content_for :cancel_action do %>
  <%= render "onboardings/logout" %>
<% end %>

<%= content_for :footer do %>
  <%= render "layouts/shared/footer" %>
<% end %>

<div class="grow flex flex-col gap-12 items-center justify-center">
  <div class="max-w-sm mx-auto flex flex-col items-center">
    <%= image_tag "logo-color.png", class: "w-16 mb-6" %>

    <p class="text-xl lg:text-3xl text-primary font-display font-medium">
      Try Sure for 45 days
    </p>

    <h2 class="text-xl lg:text-3xl font-display text-secondary font-medium mb-2">
      Data will be deleted then
    </h2>

    <p class="text-sm text-secondary text-center mb-8">
      Starting today you can give the product a good look.  <br/>If you like it, self-host or contribute to continue using it here.
    </p>

    <div class="w-full">
      <% if Current.family.can_start_trial? %>
        <%= render DS::Button.new(
        text: "Try Sure for 45 days",
        href: subscription_path,
        full_width: true,
        data: { turbo: false }
      ) %>
      <% elsif Current.family.trialing? %>
        <%= render DS::Link.new(
          text: "Continue trial",
          href: root_path,
          full_width: true,
        ) %>
      <% else %>
        <%= render DS::Link.new(
          text: "Upgrade",
          href: upgrade_subscription_path,
          full_width: true,
        ) %>
      <% end %>
    </div>
  </div>

  <div class="space-y-8">
    <h2 class="text-center text-lg lg:text-2xl font-medium text-primary">How things work here</h2>

    <div class="flex gap-3">
      <div class="rounded-xl p-1 bg-gray-400/20 theme-dark:bg-gray-500/20 flex flex-col justify-between items-center text-secondary">
        <%= render DS::FilledIcon.new(icon: "unlock-keyhole", variant: :inverse) %>
        <%= render DS::FilledIcon.new(icon: "bell", variant: :inverse) %>
        <%= render DS::FilledIcon.new(icon: "credit-card", variant: :inverse) %>
      </div>

      <div class="space-y-12">
        <div class="space-y-1.5 text-sm">
          <p class="text-primary font-medium">Today</p>
          <p class="text-secondary">You'll get free access to Sure for 45 days on our AWS.</p>
        </div>

        <div class="space-y-1.5 text-sm">
          <p class="text-primary font-medium">In 40 days (<%= 40.days.from_now.strftime("%B %d") %>)</p>
          <p class="text-secondary">We'll notify you to remind you to export your data.</p>
        </div>

        <div class="space-y-1.5 text-sm">
          <p class="text-primary font-medium">In 45 days (<%= 45.days.from_now.strftime("%B %d") %>)</p>
          <p class="text-secondary">We delete your data &mdash; contribute to continue using Sure here!</p>
        </div>
      </div>
    </div>
  </div>
</div>
