<%= settings_section title: t(".title") do %>
  <div class="space-y-4">
    <% if @imports.empty? %>
      <%= render partial: "imports/empty" %>
    <% else %>
      <div class="bg-container rounded-lg shadow-border-xs">
        <%= render partial: "imports/import", collection: @imports %>
      </div>

      <% if @pagy.pages > 1 %>
        <div class="mt-4">
          <%= render "shared/pagination", pagy: @pagy %>
        </div>
      <% end %>
    <% end %>

    <%= link_to new_import_path,
        class: "bg-container-inset flex items-center justify-center gap-2 text-secondary mt-1 hover:bg-container-inset-hover rounded-lg px-4 py-2 w-full text-center",
        data: { turbo_frame: :modal } do %>
      <%= icon("plus") %>
      <%= t(".new") %>
    <% end %>
  </div>
<% end %>
