<%= turbo_frame_tag chat_frame do %>
  <div class="flex flex-col h-full md:p-4">
    <%= render "chats/chat_nav", chat: @chat %>

    <% if show_demo_warning? %>
      <%= render "shared/demo_warning",
        title: t("chats.demo_banner_title"),
        message: t("chats.demo_banner_message") %>
    <% end %>

    <div class="mt-auto py-8">
      <%= render "chats/ai_greeting" %>
    </div>

    <%= render "messages/chat_form", chat: @chat %>
  </div>
<% end %>
