<button type="button"
        class="filterable-item text-primary text-sm cursor-pointer flex items-center gap-2 px-3 py-2 rounded-lg hover:bg-container-inset-hover <%= "bg-container-inset" if selected %>"
        role="option"
        aria-selected="<%= selected %>"
        tabindex="-1"
        data-action="click->tag-select#toggleTag"
        data-tag-select-target="option"
        data-tag-id="<%= tag.id %>"
        data-tag-name="<%= tag.name %>"
        data-tag-color="<%= tag.color %>"
        data-filter-name="<%= tag.name %>">
  <span class="check-icon w-5 shrink-0 <%= "hidden" unless selected %>">
    <%= view_helpers.icon("check") %>
  </span>
  <span data-tag-select-badge>
    <%= render DS::Pill.new(
          label: tag.name,
          marker: false,
          size: :md,
          custom_color: tag.color
        ) %>
  </span>
</button>
