<%# locals: (title:, categories:, category_groups: nil, category_ids_with_transactions: nil) %>
<% category_groups ||= Category::Group.for(categories) %>

<div class="rounded-xl bg-container-inset space-y-1 p-1">
  <div class="flex items-center gap-1.5 px-4 py-2 text-xs font-medium text-secondary uppercase">
    <p><%= title %></p>
    <span class="text-subdued">&middot;</span>
    <p><%= categories.count %></p>
  </div>

  <div class="shadow-border-xs rounded-lg bg-container">
    <div class="overflow-hidden rounded-lg">
      <% category_groups.each_with_index do |group, idx| %>
        <%= render "categories/category",
                   category: group.category,
                   subcategories: group.subcategories,
                   has_transactions: category_ids_with_transactions&.key?(group.category.id) %>

        <% group.subcategories.each do |subcategory| %>
          <%= render "categories/category",
                     category: subcategory,
                     subcategories: [],
                     has_transactions: category_ids_with_transactions&.key?(subcategory.id) %>
        <% end %>

        <% unless idx == category_groups.count - 1 %>
          <%= render "shared/ruler" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
