<%# locals: (category:, categories:) %>

<div data-controller="color-icon-picker" data-color-icon-picker-preset-colors-value="<%= Category::COLORS %>">
  <%= styled_form_with model: category, class: "space-y-4" do |f| %>
    <section class="space-y-4">
      <div class="w-fit mx-auto relative">
        <%= render partial: "color_avatar", locals: { category: category } %>

        <%= render DS::Disclosure.new(
              summary_class: "cursor-pointer absolute -bottom-2 -right-2 flex justify-center items-center bg-surface-inset hover:bg-surface-inset-hover border-2 w-7 h-7 border-subdued rounded-full text-secondary",
              data: {
                color_icon_picker_target: "details",
                action: "mousedown->color-icon-picker#handleOutsideClick"
              }) do |d| %>
          <% d.with_summary_content do %>
            <%= icon("pen", size: "sm") %>
          <% end %>

          <div class="fixed right-0 sm:right-auto mx-2 sm:ml-8 sm:mr-0 mt-2 z-50 bg-container p-4 border border-alpha-black-25 rounded-2xl shadow-xs h-fit" data-color-icon-picker-target="popup">
            <div class="flex gap-2 flex-col mb-4" data-color-icon-picker-target="selection" style="<%= "display:none;" if @category.subcategory? %>">
              <div data-color-icon-picker-target="pickerSection"></div>
              <h4 class="text-secondary text-sm"><%= t(".color") %></h4>
              <div class="flex flex-wrap md:flex-nowrap gap-2 items-center" data-color-icon-picker-target="colorsSection">
                <% Category::COLORS.each do |color| %>
                  <label class="relative">
                    <%= f.radio_button :color, color, class: "sr-only peer", data: { action: "change->color-icon-picker#handleColorChange" } %>
                    <div class="w-6 h-6 rounded-full cursor-pointer peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-gray-500" style="background-color: <%= color %>"></div>
                  </label>
                <% end %>
                <label class="relative">
                  <%= f.radio_button :color, "custom-color", class: "sr-only peer", data: { color_icon_picker_target: "colorPickerRadioBtn"} %>
                  <div class="w-6 h-6 rounded-full cursor-pointer peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-blue-500" data-color-icon-picker-target="pickerBtn" style="background: conic-gradient(red,orange,yellow,lime,green,teal,cyan,blue,indigo,purple,magenta,pink,red)"></div>
                </label>
              </div>
              <div class="flex gap-2 items-center hidden flex-col" data-color-icon-picker-target="paletteSection">
                <div class="flex gap-2 items-center w-full">
                  <div class="w-6 h-6 p-4 rounded-full cursor-pointer" style="background-color: <%= category.color %>" data-color-icon-picker-target="colorPreview"></div>
                  <%= f.text_field :color, data: { color_icon_picker_target: "colorInput" }, inline: true, pattern: "^#[0-9A-Fa-f]{6}$" %>
                  <%= icon "palette", size: "2xl", data: { action: "click->color-icon-picker#toggleSections" } %>
                </div>
                <div data-color-icon-picker-target="validationMessage" class="hidden self-start flex gap-1 items-center text-xs text-destructive ">
                  <span><%= t(".poor_contrast") %></span>
                  <button type="button" class="underline cursor-pointer" data-action="color-icon-picker#autoAdjust"><%= t(".auto_adjust") %></button>
                </div>
              </div>
            </div>

            <div class="flex flex-wrap gap-2 justify-center flex-col w-auto md:w-87">
              <h4 class="text-secondary text-sm"><%= t(".icon") %></h4>
              <div class="flex flex-wrap gap-0.5 max-h-52 overflow-auto">
                <% Category.icon_codes.each do |icon| %>
                  <label class="relative">
                    <%= f.radio_button :lucide_icon, icon, class: "sr-only peer", data: { action: "change->color-icon-picker#handleIconChange change->color-icon-picker#handleIconColorChange", color_icon_picker_target:"icon" } %>
                    <div class="text-secondary w-7 h-7 flex m-0.5 items-center justify-center rounded-full cursor-pointer hover:bg-container-inset-hover peer-checked:bg-container-inset border border-transparent">
                      <%= icon(icon, size: "sm", color: "current") %>
                    </div>
                  </label>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <% if category.errors.any? %>
        <%= render "shared/form_errors", model: category %>
      <% end %>

      <div class="space-y-2">
        <%= f.text_field :name, placeholder: t(".placeholder"), required: true, autofocus: true, label: t(".name_label"), data: { color_avatar_target: "name" } %>
        <% unless category.parent? %>
          <%= f.select :parent_id, categories.pluck(:name, :id), { include_blank: t(".unassigned"), label: t(".parent_category_label") }, disabled: category.parent?, data: { action: "change->color-icon-picker#handleParentChange" } %>
        <% end %>
      </div>
    </section>

    <section>
      <%= hidden_field_tag :transaction_id, params[:transaction_id] %>
      <%= f.submit %>
    </section>
  <% end %>
</div>
