<%= render DS::Dialog.new do |dialog| %>
  <% dialog.with_header(title: t("accounts.confirm_unlink.title")) %>

  <% dialog.with_body do %>
    <p class="text-secondary text-sm mb-4">
      <%= t("accounts.confirm_unlink.description_html", account_name: @account.name, provider_name: @account.provider_name) %>
    </p>

    <div class="mb-4">
      <%= render DS::Alert.new(title: t("accounts.confirm_unlink.warning_title"), variant: :warning) do %>
        <ul class="list-disc list-inside">
          <li><%= t("accounts.confirm_unlink.warning_no_sync") %></li>
          <li><%= t("accounts.confirm_unlink.warning_manual_updates") %></li>
          <li><%= t("accounts.confirm_unlink.warning_transactions_kept") %></li>
          <li><%= t("accounts.confirm_unlink.warning_can_delete") %></li>
        </ul>
      <% end %>
    </div>

    <%= render DS::Button.new(
      text: t("accounts.confirm_unlink.confirm_button"),
      href: unlink_account_path(@account),
      method: :delete,
      full_width: true,
      data: { turbo_frame: "_top" }) %>
  <% end %>
<% end %>
