<%= content_for :page_title, t(".accounts") %>
<%= content_for :page_actions do %>
  <%= icon(
        "refresh-cw",
        as_button: true,
        size: "sm",
        href: sync_all_accounts_path,
        disabled: Current.family.syncing?,
        frame: :_top
      ) %>
  <%= render DS::Link.new(
    text: "New account",
    href: new_account_path(return_to: accounts_path),
    variant: "primary",
    icon: "plus",
    frame: :modal
  ) %>
<% end %>

<% if @manual_accounts.empty? && @plaid_items.empty? && @simplefin_items.empty? && @lunchflow_items.empty? && @enable_banking_items.empty? && @coinstats_items.empty? && @coinbase_items.empty? && @mercury_items.empty? && @snaptrade_items.empty? && @indexa_capital_items.empty? %>
  <%= render "empty" %>
<% else %>
  <div class="space-y-2">
    <% if @plaid_items.any? %>
      <%= render @plaid_items.sort_by(&:created_at) %>
    <% end %>

    <% if @simplefin_items.any? %>
      <%= render @simplefin_items.sort_by(&:created_at) %>
    <% end %>

    <% if @lunchflow_items.any? %>
      <%= render @lunchflow_items.sort_by(&:created_at) %>
    <% end %>

    <% if @enable_banking_items.any? %>
      <%= render @enable_banking_items.sort_by(&:created_at) %>
    <% end %>

    <% if @coinstats_items.any? %>
      <%= render @coinstats_items.sort_by(&:created_at) %>
    <% end %>

    <% if @mercury_items.any? %>
      <%= render @mercury_items.sort_by(&:created_at) %>
    <% end %>
    
    <% if @coinbase_items.any? %>
      <%= render @coinbase_items.sort_by(&:created_at) %>
    <% end %>

    <% if @snaptrade_items.any? %>
      <%= render @snaptrade_items.sort_by(&:created_at) %>
    <% end %>

    <% if @indexa_capital_items.any? %>
  <%= render @indexa_capital_items.sort_by(&:created_at) %>
<% end %>

    <% if @manual_accounts.any? %>
      <div id="manual-accounts">
        <%= render "accounts/index/manual_accounts", accounts: @manual_accounts %>
      </div>
    <% else %>
      <div id="manual-accounts"></div>
    <% end %>
  </div>
<% end %>
